.title {
  margin-top: 40px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.registerButton {
  margin-top: 20px;
}

.deleteButton {
  margin-top: 20px;
  background-color: rgb(231, 130, 130);
}

.avatar {
  height: 80px;
  width: 80px;
  position: relative;
}

.avatar:hover {
  cursor: pointer;
  outline: 2px solid rgb(0, 0, 0, 0.7);
  border-radius: 50%;
}
