.title {
  margin-top: 40px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  width: var(--form-width);
}

.registerButton {
  margin-top: 20px;
}

.error {
  color: red;
}
