.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  border: 8px double var(--background-header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 206, 233);
}
