.header {
  display: flex;
  justify-content: space-between;
}

.headerItem {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gameContainer {
  height: calc(var(--cell-size) * 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.like {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* border-radius: 50%; */
}

.likeDisabled:hover {
  cursor: not-allowed;
}
