.manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerItem {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  height: calc(var(--cell-size) * 6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.like {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* border-radius: 50%; */
}

.isAbleToLike:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.likeDisabled:hover {
  cursor: not-allowed;
}

.myLevelsform {
  position: absolute;
  top: -4px;
}

.arrowContainer {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  width: 110%;
  position: absolute;
  top: 15%;
}

.svgArrow {
  /* outline: 1px solid red; */
  pointer-events: auto;
  width: 50px;
  height: 300px;
  user-select: none;
}

.enabledArrow:hover {
  transform: scale(1.2);
}

.enabledArrow:active {
  outline: 3px ridge rgb(192, 192, 192, 0.7);
  transform: scale(1.1);
}

.disabledArrow {
  opacity: 0.5;
}


@media (min-width: 412px) and (max-width: 540px) {
  .arrowContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    position: relative;
    width: 100%;
  }

  .svgArrow {
    width: 50px;
    height: 60px;
  }
}

@media (min-width: 541px) and (max-width: 625px) {
  .svgArrow {
    width: 45px;
  }

  .enabledArrow:hover {
    width: 52px;
  }
}
