.avatar {
  height: 80px;
  width: 80px;
}

.avatar:hover {
  cursor: pointer;
  outline: 2px solid black;
  border-radius: 50%;
}

.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;

  @media (min-width: 375px) and (max-width: 539px) {
    gap: 12px;
  }
}
