.input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  font-size: large;
  padding-left: 7px;
}

.error {
  word-wrap: break-word;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
}
