.levelList {
  display: flex;
  cursor: pointer;
}

.levelItem {
  padding: 5px 20px;
}

.active {
  text-decoration: underline;
}

@media (min-width: 412px) and (max-width: 1023px) {
  .levelItem {
    padding: 5px 14px;
  }
}
