.levelList {
  display: flex;
  cursor: pointer;
}

.levelItem {
  width: 30px;
  padding: 5px 0;
  border: 1px inset rgba(143, 16, 16, 0.5);
  user-select: none;
}

.levelItem:hover {
  cursor: pointer;
  outline: 2px solid rgb(0, 0, 0, 0.7);
}

.active {
  font-weight: bold;
  background-color: rgb(115, 115, 115);
  color: white;
}

@media (min-width: 412px) and (max-width: 1023px) {
  .levelItem {
    width: 35px;
  }
}
