.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid grey;
}

.emptyCell {
  background-color: antiquewhite;
}

.blockedCell {
  background-color: rgba(255, 0, 0, 0.5);
}

.filledCell {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-width: 6px;
  border-style: outset;
}

.step {
  transform: scale(.75);
  width: 100%;
  height: 100%;
}

.focus {
  transform: scale(.9);
  outline: calc(0.05 * var(--cell-size)) solid grey;
}

.mainCell::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--cell-number-size);
  font-weight: bolder;
  height: 100%;
  width: 100%;
  transform: scale(.75);
  background-color: rgb(250 234 214 / 80%);
}

.mainCellLinked::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--cell-number-size);
  font-weight: bolder;
  height: 100%;
  width: 100%;
  transform: scale(.75);
  color: white;
}

.main-1::before {
  content: '1';
}

.main-2::before {
  content: '2';
}

.main-3::before {
  content: '3';
}

.main-4::before {
  content: '4';
}

.main-5::before {
  content: '5';
}

.main-6::before {
  content: '6';
}

.main-7::before {
  content: '7';
}

.color-1 {
  background-color: RoyalBlue;
}

.color-2 {
  background-color: ForestGreen;
}

.color-3 {
  background-color: Gray;
}

.color-4 {
  background-color: Crimson;
}

.color-5 {
  background-color: DarkOrchid;
}

.color-6 {
  background-color: Goldenrod;
}

.color-7 {
  background-color: Coral;
}

.field-size-5 {
  width: calc(var(--cell-size) * 0.9);
  height: calc(var(--cell-size) * 0.9);
}

.field-size-5::before {
  font-size: calc(var(--cell-number-size) * 0.85);
}

.field-size-6 {
  width: calc(var(--cell-size) * 0.85);
  height: calc(var(--cell-size) * 0.85);
}

.field-size-6::before {
  font-size: calc(var(--cell-number-size) * 0.8);
}

.field-size-7 {
  width: calc(var(--cell-size) * 0.8);
  height: calc(var(--cell-size) * 0.8);
}

.field-size-7::before {
  font-size: calc(var(--cell-number-size) * 0.75);
}
