.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid grey;
}

.emptyCell {
  background-color: antiquewhite;
}

.filledCell {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-width: 6px;
  border-style: outset;
}

.step {
  transform: scale(.75);
}

.focus {
  transform: scale(.9);
  outline: calc(0.05 * var(--cell-size)) solid grey;
}

.mainCell::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  height: 100%;
  width: 100%;
  transform: scale(.75);
  background-color: rgb(250 234 214 / 80%);
}

.mainCellLinked::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  height: 100%;
  width: 100%;
  transform: scale(.75);
  color: white;
  /* background-color: rgb(250 234 214 / 80%); */
}

.main-blue::before {
  content: '1';
}

.main-green::before {
  content: '2';
}

.main-gray::before {
  content: '3';
}

.main-red::before {
  content: '4';
}

.main-purple::before {
  content: '5';
}


.red {
  background-color: FireBrick;
}

.blue {
  background-color: RoyalBlue;
}

.green {
  background-color: ForestGreen;
}

.gray {
  background-color: Gray;
}

.purple {
  background-color: DarkOrchid;
}
