.footer {
  width: 100%;

  margin-top: auto;

  padding: 20px 0;
  background-color: var(--background-header-color);

  color: white;

  user-select: none;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
