.container {
  position: relative;
  max-width: 488px;
  width: 100%;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px outset rgb(151, 91, 201);
  user-select: none;
}

.listItem {
  padding: 5px;
  border: 1px inset rgba(143, 16, 16, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem:hover {
  cursor: pointer;
  outline: 2px solid rgb(0, 0, 0, 0.7);
}

.listItemDisabled:hover {
  cursor: not-allowed;
}


@media (min-width: 412px) and (max-width: 1023px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .list {
    position: absolute;
    left: -200px;
    top: 170px;
  }

  .listItem {
    padding: 10px 5px;
  }
}
