:root {
  --cell-size: 70px;
}

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/Agbalumo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'MyFont', sans-serif;
}

body {
  background-color: antiquewhite;
}
