:root {
  --cell-size: 70px;
  --cell-number-size: 50px;
  --background-header-color: DarkSlateGrey;
  --form-width: 250px;
}

@font-face {
  font-family: 'MyFont';
  src: url('./fonts/UF1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'MyFont', sans-serif;
}


body {
  background-color: rgb(181, 182, 204);
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
